body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    margin: 0 0 20px 0;
    color: black;
    text-shadow: 
        1px 1px 0 #000, 
        2px 2px 0 #000, 
        3px 3px 0 #000, 
        4px 4px 0 #000, 
        5px 5px 0 #000;
    font-size: 3em;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #0c0c0ab9;
}

form {
    background:  rgb(59, 163, 90);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 14px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #0e0101;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

input[type="number"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #0c737a;
    border-radius: 4px;
}

button:hover {
    background-color: #830516e8;
}

h2 {
    margin-top: 20px;
}
